In [22]:
students = [{'name': 'Hashim' ,'age' :18 ,'grade' :'B', 'marks':81},
            {'name': 'Salman' ,'age' :11 ,'grade' :'A', 'marks':81},
            {'name': 'Mazhar' ,'age' :12 ,'grade' :'C', 'marks':81},
            {'name': 'Farhan' ,'age' :22 ,'grade' :'D', 'marks':81},
            {'name': 'Bilal' ,'age' :19 ,'grade' :'A', 'marks':81},
            {'name': 'Zalaid' ,'age' :17 ,'grade' :'B', 'marks':81},
            
            
            ]
type(students)

list

In [14]:
def func1(item):
    print(item)
    return item['age']
a=sorted(students,key=func1) 
a

{'name': 'Hashim', 'age': 18, 'grade': 'B', 'marks': 81}
{'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 81}
{'name': 'Mazhar', 'age': 12, 'grade': 'C', 'marks': 81}
{'name': 'Farhan', 'age': 22, 'grade': 'D', 'marks': 81}
{'name': 'Bilal', 'age': 19, 'grade': 'A', 'marks': 81}
{'name': 'Zalaid', 'age': 17, 'grade': 'B', 'marks': 81}

[{'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 81},
 {'name': 'Mazhar', 'age': 12, 'grade': 'C', 'marks': 81},
 {'name': 'Zalaid', 'age': 17, 'grade': 'B', 'marks': 81},
 {'name': 'Hashim', 'age': 18, 'grade': 'B', 'marks': 81},
 {'name': 'Bilal', 'age': 19, 'grade': 'A', 'marks': 81},
 {'name': 'Farhan', 'age': 22, 'grade': 'D', 'marks': 81}]

In [15]:
students2=students
students2[1]['marks']=23
students2

[{'name': 'Hashim', 'age': 18, 'grade': 'B', 'marks': 81},
 {'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 23},
 {'name': 'Mazhar', 'age': 12, 'grade': 'C', 'marks': 81},
 {'name': 'Farhan', 'age': 22, 'grade': 'D', 'marks': 81},
 {'name': 'Bilal', 'age': 19, 'grade': 'A', 'marks': 81},
 {'name': 'Zalaid', 'age': 17, 'grade': 'B', 'marks': 81}]

In [19]:
l1=list(students2[1].items())
type(l1)
l1

[('name', 'Salman'), ('age', 11), ('grade', 'A'), ('marks', 23)]

In [35]:
import copy
students = [{'name': 'Hashim' ,'age' :18 ,'grade' :'B', 'marks':81},
            {'name': 'Salman' ,'age' :11 ,'grade' :'A', 'marks':81},
            {'name': 'Mazhar' ,'age' :12 ,'grade' :'C', 'marks':81},
            {'name': 'Farhan' ,'age' :22 ,'grade' :'D', 'marks':81},
            {'name': 'Bilal' ,'age' :19 ,'grade' :'A', 'marks':81},
            {'name': 'Zalaid' ,'age' :17 ,'grade' :'B', 'marks':81},
            
            
            ]
#students3= students.copy()
students3= copy.copy(students)
print('Shallow Copy')
print('s1: ',students[1])
print('s3: ',students3[1])
students3[1]['marks']=34
print('\n\nAfter updating the value of s3 only\n')
print('s1: ',students[1])
print('s3: ',students3[1])

Shallow Copy
s1:  {'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 81}
s3:  {'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 81}


After updating the value of s3 only

s1:  {'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 34}
s3:  {'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 34}

In [34]:
import copy
students = [{'name': 'Hashim' ,'age' :18 ,'grade' :'B', 'marks':81},
            {'name': 'Salman' ,'age' :11 ,'grade' :'A', 'marks':81},
            {'name': 'Mazhar' ,'age' :12 ,'grade' :'C', 'marks':81},
            {'name': 'Farhan' ,'age' :22 ,'grade' :'D', 'marks':81},
            {'name': 'Bilal' ,'age' :19 ,'grade' :'A', 'marks':81},
            {'name': 'Zalaid' ,'age' :17 ,'grade' :'B', 'marks':81},
            
            
            ]
students3= copy.deepcopy(students)
print('Deep Copy')
print('s1: ',students[1])
print('s3: ',students3[1])
students3[1]['marks']=34
print('\n\nAfter updating the value of s3 only\n')
print('s1: ',students[1])
print('s3: ',students3[1])

Deep Copy
s1:  {'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 81}
s3:  {'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 81}


After updating the value of s3 only

s1:  {'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 81}
s3:  {'name': 'Salman', 'age': 11, 'grade': 'A', 'marks': 34}

In [36]:
d= {(1,2):''}

{'Lions': ('Ali', 'Sara'), 'Tigers': ('Omar', 'Fatima')}

In [ ]:
teams={'Lions': ('Ali' ,'Sara', 'Farhan'),
       'Tigers': ('Omar' ,'Rafi','Fatima','Rafi','Amna')
       }
teams

#print(type(teams.get('Lions')))
#Remove duplications as well
t1=list(set(teams.get('Lions')))

t2=list(set(teams.get('Tigers')))
print ('Before Trade')
print(t1)
print(t2)
Findex=t2.index('Fatima')
#print('Findex: ', Findex)

t1.append(t2.pop(Findex))
#print('T1:  ',t1)
Sindex=t1.index('Sara')
t2.append(t1.pop(Sindex))
print ('\n\nAfter Trade')
print('Lions: ',t1)
print('Tigers: ',t2)

print('\n\nAdding Ayesha to lions')
t1.append('Ayesha')
print('\n\nLions after adding Ayesha: ', t1)


tupl=teams.items()
l1=list(tupl)
print(l1)

list1=list(l1[0])
list2=list(l1[1])
print('list 1: ',list1)
print('list 1: ',list2)
#a=list2.pop(0)

list1.insert(0,list2.pop(0))
list2.insert(0,list1.pop(1))
print('\n\nAfter swaping keys:')
print('\n\nlist 1: ',list1)
print('\nlist 2: ',list2,end='\n\n')
tupl3 = tuple(list1)
tupl4 = tuple(list2)
listf=[]
listf.append(tupl3)
listf.append(tupl4)
tupleFinal=tupl3+tupl4

#dictUp=dict(listf)
#print('Updated Ditionar',dictUp)
#tupleFinal

Before Trade
['Sara', 'Ali', 'Farhan']
['Fatima', 'Omar', 'Rafi', 'Amna']


After Trade
Lions:  ['Ali', 'Farhan', 'Fatima']
Tigers:  ['Omar', 'Rafi', 'Amna', 'Sara']


Adding Ayesha to lions


Lions after adding Ayesha:  ['Ali', 'Farhan', 'Fatima', 'Ayesha']
[('Lions', ('Ali', 'Sara', 'Farhan')), ('Tigers', ('Omar', 'Rafi', 'Fatima', 'Rafi', 'Amna'))]
list 1:  ['Lions', ('Ali', 'Sara', 'Farhan')]
list 1:  ['Tigers', ('Omar', 'Rafi', 'Fatima', 'Rafi', 'Amna')]


After swaping keys:


list 1:  ['Tigers', ('Ali', 'Sara', 'Farhan')]

list 2:  ['Lions', ('Omar', 'Rafi', 'Fatima', 'Rafi', 'Amna')]

('Tigers',
 ('Ali', 'Sara', 'Farhan'),
 'Lions',
 ('Omar', 'Rafi', 'Fatima', 'Rafi', 'Amna'))

In [37]:
print('\n\nBefore Name Sorting')
print('list 1: ',list1)
print('list 2: ',list2)
list1[1]=tuple(sorted(list1[1]))
list2[1]=tuple(sorted(list2[1]))

print('\n\nAfter Name Sorting')
print('list 1: ',list1)
print('list 1: ',list2)
print('\n\n')
fsorted_name_lst=[]

fsorted_name_lst.append(list1)
fsorted_name_lst.append(list2)
print('fsorted_Name_list: ', fsorted_name_lst)

def lenth(lst):
    print(lst)
    print(len(lst[1]))
    return len(lst[1])

f_rooster_list=sorted(fsorted_name_lst,key=lenth, reverse=True)

print('f_rooster_list: ',f_rooster_list)

f_rooster_list[0]=tuple(f_rooster_list[0])
f_rooster_list[1]=tuple(f_rooster_list[1])

print('f_rooster_Tuple_list: ',f_rooster_list)


f_Dictionary=dict(f_rooster_list)


print('\n\nOriginal Given Dict:  \n', teams)
print('\n\nf_rooster_Dictionary_list: \n',f_Dictionary)

Before Name Sorting
list 1:  ['Tigers', ('Ali', 'Farhan', 'Sara')]
list 2:  ['Lions', ('Amna', 'Fatima', 'Omar', 'Rafi')]


After Name Sorting
list 1:  ['Tigers', ('Ali', 'Farhan', 'Sara')]
list 1:  ['Lions', ('Amna', 'Fatima', 'Omar', 'Rafi')]



fsorted_Name_list:  [['Tigers', ('Ali', 'Farhan', 'Sara')], ['Lions', ('Amna', 'Fatima', 'Omar', 'Rafi')]]
['Tigers', ('Ali', 'Farhan', 'Sara')]
3
['Lions', ('Amna', 'Fatima', 'Omar', 'Rafi')]
4
f_rooster_list:  [['Lions', ('Amna', 'Fatima', 'Omar', 'Rafi')], ['Tigers', ('Ali', 'Farhan', 'Sara')]]
f_rooster_Tuple_list:  [('Lions', ('Amna', 'Fatima', 'Omar', 'Rafi')), ('Tigers', ('Ali', 'Farhan', 'Sara'))]


Original Given Dict:
 {'Lions': ('Ali', 'Sara', 'Farhan'), 'Tigers': ('Omar', 'Rafi', 'Fatima', 'Amna')}


f_rooster_Dictionary_list:
 {'Lions': ('Amna', 'Fatima', 'Omar', 'Rafi'), 'Tigers': ('Ali', 'Farhan', 'Sara')}

In [ ]:
def sortfunc(item):
    print(item)
    return len(item)

In [7]:
lMain=list(tupleFinal)
l1=list(tupleFinal[1])
print(l1)
l1=sorted(l1)
l2=list(tupleFinal[3])

l2=sorted(l2)
print(l2)
print('Sorted Tuple: ',lMain)
lMain[1]=tuple(l1)
lMain[3]=tuple(l2)

sortd_tpl=tuple(lMain)
print('Sorted Tuple: ',sortd_tpl)

['Ali', 'Sara']
['Fatima', 'Omar']
Sorted Tuple:  ['Tigers', ('Ali', 'Sara'), 'Lions', ('Omar', 'Fatima')]
Sorted Tuple:  ('Tigers', ('Ali', 'Sara'), 'Lions', ('Fatima', 'Omar'))